/* Main Container */
.shops-container {
  padding: 20px;
  text-align: center;
  background: #FFF4E8;
}

/* Title */
.shops-container h1 {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 5px;
  color: #222;
}

.shops-container p {
  font-size: 1rem;
  color: #555;
  margin-bottom: 25px;
}

/* Grid Layout */
.shops-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(310px, 1fr));
  gap: 25px;
  padding: 10px;
}

/* Individual Shop Card */
.shop-card {
  background: #fff;
  border-radius: 16px;
  padding: 18px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.12);
  transition: all 0.3s ease;
  cursor: pointer;
}

/* Hover Effect */
.shop-card:hover {
  border: 1px solid #45A049 ;
  transform: translateY(-5px);
  box-shadow: 0 7px 18px rgba(0,0,0,0.18);
}

/* Shop Image */
.shop-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 14px;
  margin-bottom: 15px;
}

/* Shop Name */
.shop-card h2 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 8px;
}

/* Location */
.shop-card p {
  font-size: 0.95rem;
  color: #666;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  gap: 6px;
  justify-content: center;
}

/* View Button */
.view-btn {
  display: inline-block;
  padding: 10px 18px;
  width:80%; 
  background: #45A049;
  color: #fff;
  font-weight: 600;
  font-size: 0.95rem;
  border-radius: 10px;
  text-decoration: none;
  transition: 0.3s ease;
  letter-spacing: 0.3px;
}

.view-btn:hover {
  background: #e85b27;
}

/* Responsive Tweaks */
@media (max-width: 480px) {
  .shop-card {
    padding: 15px;
  }

  .shop-card img {
    height: 180px;
  }

  .shops-container h1 {
    font-size: 1.6rem;
  }
}
