.owner-item-card {
  width: 100%;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  padding: 15px;
  display: flex;
  flex-direction: column;
  transition: 0.3s ease;
  border: 1px solid #f1f1f1;
}

.owner-item-card:hover {
  transform: translateY(-4px);
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.12);
}

/* Image */
.owner-item-img {
  width: 100%;
  height: 160px;
  border-radius: 12px;
  overflow: hidden;
  margin-bottom: 12px;
}

.owner-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Text */
.owner-item-name {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 4px;
  color: #1f2937;
}

.owner-item-weight {
  font-size: 14px;
  color: #6b7280;
  margin-bottom: 10px;
}

/* Price Row */
.owner-price-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.owner-mrp {
  text-decoration: line-through;
  color: #9ca3af;
}

.owner-mrp {
  font-size: 15px;
}

.owner-price {
  font-size: 18px;
  font-weight: 700;
  color: #10b981;
}

/* Buttons */
.owner-actions {
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 14px;
}

.edit-btn,
.delete-btn {
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  transition: 0.2s ease;
}

/* Edit Button */
.edit-btn {
  background: #2563eb;
  color: white;
}

.edit-btn:hover {
  background: #1d4ed8;
}

/* Delete Button */
.delete-btn {
  background: #dc2626;
  color: white;
}

.delete-btn:hover {
  background: #b91c1c;
}


/* Mobile Responsive */
@media (max-width: 480px) {
  .owner-item-card {
    padding: 10px;
  }

  .owner-item-img {
    height: 125px;
  }

  .owner-item-weight {
    margin-bottom: 1px;
    font-size: 14px;
  }

  .owner-item-name {
    font-size: 15px;
    margin-bottom: 1px;
  }

  .owner-price {
    font-size: 15px;
  }

  .owner-actions {
    margin-top: 8px;
  }

  .edit-btn, .delete-btn{
        font-size: 15px;
        padding: 7px ;
  }
}